@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Arnau Ferreres y Pau Terraza</h1>
    <p><a href="https://github.com/ArnauFerreres/M05_UF3_P2_PauTerrazaCervera_ArnauFerreresSubirats_">Github</a>.</p>
</div>
